---
import Layout from "../layouts/Layout.astro";
import OrigamiTree from "../components/OrigamiTree.astro";
---

<Layout title="Wishlist">
  <div id="scene-container">
    <div id="envelope-wrapper">
      <OrigamiTree />
    </div>
  </div>
</Layout>
